* {
  font-family: "Inter", sans-serif;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

.text-jon {
  color: #619276;
}

.btn-jon {
  color: white;
  transition: all 0.3s ease 0s;
}

.btn-jon:hover {
  transform: translateY(-6px);
  color: white;
}

a,
a:hover {
  color: #619276;
  text-decoration: none;
}

.container {
  max-width: 768px;
}

.btn {
  border-radius: 10px;
}

b,
.bold {
  font-weight: 600;
}

.btn-jon-light,
[id$="btn-tab"]:active,
[id$="btn-tab"]:hover {
  background-color: #f8f9fa !important;
  border: 1px solid #f8f9fa !important;
}
