@font-face {
  font-family: "Gilroy";
  src: url("../assets/Gilroy-Medium.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  src: url("../assets/Gilroy-Bold.woff") format("woff");
  font-weight: 500;
}

* {
  font-family: "Gilroy";
}


.logo{
  font-family: 'Montserrat';
  font-size: 1.25rem;
}

.text-jon {
  color: #4d74f5;
}

.btn-jon {
   background-color: #4d74f5;
   color: white;
   transition: all 0.3s ease 0s;
}

.btn-jon:hover {
  transform: translateY(-6px);
  color: white;
}

a, a:hover {
  color: #4d74f5;
  text-decoration: none;
}