@font-face {
  font-family: "Proxima Nova";
  src: url("../assets/Proxima-Nova-Regular.otf");
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../assets/Proxima-Nova-Bold.otf");
  font-weight: 500;
}

* {
  font-family: "Proxima Nova", sans-serif;
}

.text-jon {
  color: #619276;
}

.btn-jon {
  background-color: #619276;
  color: white;
  transition: all 0.3s ease 0s;
}

.btn-jon:hover {
  transform: translateY(-6px);
  color: white;
}

a,
a:hover {
  color: #619276;
  text-decoration: none;
}

.container {
  max-width: 768px;
}

.btn {
  border-radius: 10px;
}
